{% extends 'comercial/base.html' %}

{% block contenido %}

<h2>Pedidos recibidos</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Vendedor</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Subtotal</th>
        <th>Total</th>
        <th>Número de detalles</th>
    </tr>

    {% for pedido in pedidos %}
    <tr>
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.vendedor.usuario.nombre }}</td>
        <td>{{ pedido.fecha_pedido }}</td>
        <td>{{ pedido.estado }}</td>
        <td>{{ pedido.subtotal }}</td>
        <td>{{ pedido.total }}</td>
        <td>{{ pedido.obtener_detalles }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="7">No hay pedidos recibidos.</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}