{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro Vendedor</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="login-body">

<div class="registro-card">

    <img src="{% static 'img/logos_2.png' %}" alt="Logo ISBEN" class="login-logo">

    <h2>Registro de vendedor</h2>

    <form method="post">
        {% csrf_token %}

        <h3>Datos de acceso</h3>
        {{ formulario_usuario.as_p }}

        <h3>Datos del vendedor</h3>
        {{ formulario_vendedor.as_p }}

        <button type="submit">Registrar vendedor</button>
    </form>

    <p>
        <a href="{% url 'login' %}">Volver al login</a>
    </p>

</div>

</body>
</html>